* {
    box-sizing: border-box;
}

ul,li,ol {
    list-style: none;
}

p, h1,h2,h3,h4,ul,ol,li,dl,dt,dd {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', 'Noto Sans KR';
    scroll-behavior: smooth; 
    user-select: none;

}


.top-btn a {
    position: fixed;
    right: 5%;
    bottom: 7%;
    font-size: 12pt;
    color: #000;
    z-index: 99;
    border-radius: 50%;
    border: 3px solid #000;
    padding: 0 10px;
    text-align: center;
    height: 50px;
}

/* menu */

.menu-area {
    position: fixed;
    display: block;
    width: 18%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    border-right: 2px solid #ffc663;
}

.menu-area .logo-wrap a {
    font-size: 24pt;
    margin-top: 120px;
    margin-left: 30px;
}

.menu-area #menu-btn-wrap {
    border-left: 5px solid rgba(255, 225, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18pt;
    width: 200px;
}

.menu-area #menu-btn-wrap a {
    margin: 40px 30px;
    transition: 0.3s ;
}

.menu-area #menu-btn-wrap a.on,
.menu-area #menu-btn-wrap a:hover {
    padding-left: 70px;
}

/* main-area */

.main-area {
    margin-left: 18%;
    height: 100vh;
    width: 82%;
    display: block;
    background: linear-gradient(#ffc663 80%,#fff) ;
    position: relative;
}

.main-area .cloud-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
}

.main-area .cloud-wrap .cloud-all {
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

.main-area .cloud-wrap .cloud-1 {
    width: 180px;
    height: 180px;
    top: 30px;
    animation: cloudmoving1 3s infinite normal;
}

@keyframes cloudmoving1 {
    from {
        top: 30px;
    }

    50% {
        top: 35px;
    }

    to {
        top: 30px;
    
    }
}

.main-area .cloud-wrap .cloud-2 {
    width: 230px;
    height: 230px;
    left: 130px;
    animation: cloudmoving2 4s infinite normal;
}

@keyframes cloudmoving2 {
    from {
        left: 130px;
    }

    25% {
        left: 125px;
    }

    50% {
        left: 130px;
    }

    75% {
        left: 135px;
    }

    to {
        left: 130px;
    }
}

.main-area .cloud-wrap .cloud-3 {
    width: 180px;
    height: 180px;
    left: 300px;
    top: 30px;
    animation: cloudmoving3 4s infinite normal;
}

@keyframes cloudmoving3 {
    from {
        top: 30px;
        left: 300px;
    }

    50% {
        top: 35px;
        left: 310px;
    }

    to {
        top: 30px;
        left: 300px;
    }
}

.main-area .cloud-wrap .cloud-4 {
    width: 140px;
    height: 140px;
    left: 305px;
    top: 130px;
    animation: cloudmoving4 3s infinite normal;
}

@keyframes cloudmoving4 {
    from {
        left: 305px;
        top: 130px;
    }

    50% {
        left: 310px;
        top: 135px;
    }

    to {
        left: 305px;
        top: 130px;
    }
}

.main-area .cloud-wrap .cloud-5 {
    width: 180px;
    height: 180px;
    left: 150px;
    top: 105px;
    background-position: center;
    animation: cloudmoving5 6s infinite normal;
}

@keyframes cloudmoving5 {
    from {
        width: 180px;
        height: 180px;
    }

    50% {
        width: 185px;
        height: 185px;
    }

    to {
        width: 180px;
        height: 180px;
    }
}

.main-area .cloud-wrap .cloud-6 {
    width: 140px;
    height: 140px;
    top: 130px;
    left: 35px;
    animation: cloudmoving6 3s infinite normal;
}

@keyframes cloudmoving6 {
    from {
        left: 35px;
        top: 130px;
    }

    50% {
        left: 30px;
        top: 135px;
    }

    to {
        left: 35px;
        top: 130px;
    }
}

.main-area .title-wrap {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Dosis', sans-serif;
}

.main-area .title-wrap p:nth-child(1) {
    font-size: 60pt;
    font-weight: 600;
    text-align: center;
    margin-left: -10px;
}

.main-area .title-wrap p:nth-child(2) {
    font-size: 30pt;
    text-align: right;
    font-weight: 300;
    margin: -17px 25px 0 0;
}

.main-area .title-wrap p {
    top: 50%;
    left: 50%;
}

.main-area .bg-keyword-wrap p {
    color: #fff;
    font-size: 40pt;
    position: absolute;
    top: 20%;
    left: 10%;
}

.main-area .fa-angles-down {
    font-size: 30pt;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    animation: page-down 2s infinite normal;
    opacity: 0;
    color: #fff;
}

@keyframes page-down {
    from {
        opacity: 0;
    }

    30% {
        opacity: 1;
        bottom: 90px;
    }

    to {
        opacity: 0;
        bottom:60px;
    }
}

/* hyewon-area */

.hyewon-area {
    margin-left: 18%;
    width: 82%;
    display: block;
    /* position: relative;  */
}

.hyewon-title {
    text-align: center;
    padding: 50px 0;
    background: url(title-background.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    top: 50%;
    color: #000;
}

.hyewon-title p:nth-child(1) {
    font-weight: 700;
    font-size: 26pt;
}

.profile-wrap .line {
    position: relative;
}

.profile-wrap .line::before {
    content: "";
    position: absolute;
    width: 6px;
    background: orange;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -3px;
}

.profile-wrap .img-box {
    padding-top: 50px;
    width: 50%;
}

.profile-wrap .profile-img {
    background: url(profile_image.gif) no-repeat center;
    background-size: 130%;
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 0%;
    margin: 0 auto;
}

.profile-wrap .contents-box {
    background: #ffe9bf;
    padding: 40px 30px;
    border-radius: 20px;
    position: relative;
}

.profile-wrap .container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    margin-top: 0px;
}

.profile-wrap .container:nth-child(2) {
    margin-top: -180px;
}

.profile-wrap .container:nth-child(3) {
    margin-top: 30px;
}

.profile-wrap .container:last-child {
    padding-bottom: 40px;
}

.profile-wrap .right {
    right: -50%;
    margin-left: -90px;
    opacity: 0;
    transition: 0.5s;
    transform: rotate(-15deg);
}

.profile-wrap .left {
    left: 0%;
    margin-left: 90px;
    opacity: 0;
    transition: 0.5s;
    transform: rotate(15deg);
}

.profile-wrap .right.on,
.profile-wrap .left.on {
    opacity: 1;
    margin-left: 0px;
    transform: rotate(0deg);
}

.profile-wrap .right .hello {
    display: inline-block;
}

.profile-wrap .right .hello.shake {
    animation: shake 1s normal;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    85% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    95% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.profile-wrap .left:before {
    content: "";
    height: 0;
    position: absolute;
    top: 24px;
    width: 0;
    right:30px;
    border: 20px solid #ffe9bf;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffe9bf;
}

.profile-wrap .right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 24px;
    width: 0;
    left: 30px;
    z-index: 199;
    border: 20px solid #ffe9bf;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffe9bf transparent transparent ;
}

.profile-wrap h1 {
    font-size: 16pt;
    margin-bottom: 15px;
}

.profile-wrap h2 {
    margin: 5px auto;
    font-size: 12pt;
}

.profile-wrap .coding h2,
.profile-wrap .design h2 {
    font-weight: 700;
    font-size: 15pt;
}

.profile-wrap .coding .under,
.profile-wrap .design .under {
    height: 3px;
    width: 0px;
    background: orange;
    position: absolute;
    left: 30px;
    transition: 2s;
}

.profile-wrap .coding .html-bar.on {
    width: 250px;
}

.profile-wrap .coding .css-bar.on {
    width: 210px;
}

.profile-wrap .coding .js-bar.on {
    width: 263px;
}

.profile-wrap .design dl .ps-bar.on {
    width: 280px;
}

/* skills-area */

.skills-area {
    margin-left: 18%;
    height: 100vh;
    display: block;
    background: #ffc663;
    position: relative;
    border-top: 1px solid #9b6300;
}

.skills-area .skills-box-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    width: 75%;
    height: 70%;
    display: flex;
}

.skills-area .skills-box-wrap .skills-30 {
    flex: 30%;
}

.skills-area .skills-box-wrap .skills-70 {
    flex: 70%;
}

.skills-area .license {
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    width: 95%;
    height: 100%;
    text-align: center;
}

.skills-area .license dt {
    margin: 17px auto;
    font-size: 18pt;
    font-weight: 700;
    position: relative;
}

.skills-area .license dt::before,
.skills-area .license dt::after {
    content: "";
    clear: both;
    width: 30%;
    height: 1px;
    position: absolute;
    display: block;
    background: #000;
    top: 17px;
}

.skills-area .license dd {
    font-size: 13pt;
}

.skills-area .license dt::after {
    right: 0;
}


.skills-area .coding,
.skills-area .design {
    width: 100%;
    height: 48%;
    margin-bottom: 15px;
}


.skills-area .coding,
.skills-area .design {
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 30px;
}

.skills-area .coding dl,
.skills-area .design dl {
    width: 100%;
    height: 30%;
    display: block;
    margin: 7px auto;
    position: relative;
}

.skills-area .coding dl dd,
.skills-area .design dl dd {
    display: inline-block;
}

.skills-area .coding dl .under,
.skills-area .design dl .under {
    height: 5px;
    width: 0px;
    background: orange;
    position: absolute;
    bottom: 25px;
    left: 103px;
    transition: 3s;
}

.skills-area .coding dl .html-bar.on {
    width: 250px;
}

.skills-area .coding dl .css-bar.on {
    width: 210px;
}

.skills-area .coding dl .js-bar.on {
    width: 263px;
}

.skills-area .design dl .ps-bar.on {
    width: 280px;
}

.skills-area .coding dl dt,
.skills-area .design dl dt {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100px;
    display: inline-block;
}



/* portfolio-area */

.portfolio-area {
    margin-left: 18%;
    height: 100vh;
    display: block;
    background: #fff;
    position: relative;
    border-top: 1px solid #9b6300;
}   

.portfolio-area .portfolio-title {
    margin: 50px auto;
    text-align: center;
    font-size: 24pt;
}

.portfolio-area ul {
    width: 85%;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.portfolio-area ul li {
    width: 23%;
    height:  200px;
    background: rgba(255,198,99,0.5);
    float: left;
    margin: 40px 1%;
    border: 1px solid #9b6300;
    border-radius: 20px;
    overflow: hidden;
}


.portfolio-area ul li:nth-child(1) {
    background: url(baskin.jpg) no-repeat;
    background-size: 100%;
    background-position: center 0;

}

.portfolio-area ul li:nth-child(2) {
    background: url(ashley.jpg) no-repeat;
    background-size: 100%;
    background-position: center 0;
}

.portfolio-area ul li a {
    background: rgba(255,198,99,0.9);
    color: #fff;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    line-height: 200px;
    margin-top: 20px;
    opacity: 0;
    transition: 0.3s;
}

.portfolio-area ul li:hover a {
    opacity: 1;
    margin-top: 0px;
}

